/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgba(235, 233, 233, 0.653);
}
.close{
    border: none;
    color: black;
    background-color: transparent;
}